html {
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  height: 100%;
  font-size: 1.2em;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  padding: 10px;
  color: #ffffffdd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

h3:first-child {
  margin-top: 0;
}

.button,
input {
  transition: 0.125s all;
  background: #ffffff33;
  border: 2px solid #ffffff55;
}

.button {
  border-radius: 100px;
  color: inherit;
  font: inherit;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
}
.button:hover,
input:hover {
  border-color: #ffffff77;
  background: #ffffff55;
}
.link {
  background: transparent;
  color: inherit;
  font-size: inherit;
  border: none;
  position: relative;
  display: inline-block;
  /*margin: 5px;*/
  cursor: pointer;
  transition: 0.125s;
  /* border-bottom: 1px solid white; */
}
.link:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.link::after {
  width: calc(100% - 10px);
  display: block;
  height: 2px;
  background: #ffffff77;
  content: " ";
  transition: 0.125s;
  bottom: -2px;
  position: absolute;
  left: 5px;
  z-index: -1;
}
.link:hover::after {
  left: 0px;
  width: 100%;
  height: calc(100% + 4px);
  opacity: 0.2;
}
input {
  font-size: inherit;
  background: #ffffff33;
  color: inherit;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  padding: 5px;
}

.currencyInput {
  position: relative;
}
.currencyInput input {
  padding-left: 14px;
}
.currencyInput::before {
  content: "$";
  position: absolute;
  bottom: 3px;
  left: 4px;
}
.awsui-context-flashbar {
  /*opacity: .5*/
}
[data-analytics-flashbar="error"] {
  background-color: #ff52367f !important;
  background-image: linear-gradient(
    90deg,
    #ff52367f 0%,
    #ff2b5780 55%,
    #ff52367f 100%
  ) !important;
}
h3 {
  font-size: 1.5em;
  margin: 10px;
}
td .link {
  top: -2px;
}
